<h3>Medicamento</h3>
<div>

  <div>
    <label><b>Id:</b>{{ medicamento.idDto}}</label>
  </div>
  <div>
    <label><b>Nombre:</b>{{ medicamento.nombre}}</label>
  </div>
  <div>
    <label><b>Categoria:</b>{{ medicamento.categoria}}</label>
  </div>
  <div>
    <label><b>Laboratorio:</b>{{ medicamento.laboratorio}}</label>
  </div>

  <div>
    <label><b>Dosis:</b>{{ medicamento.dosis}}</label>
  </div>
  <div>
    <label><b>Precio:</b>{{ medicamento.precio}}</label>
  </div>

  <div>
    <label><b>POS:</b>{{ medicamento.pos}}</label>
  </div>



</div>
