table td:first-child {
  width: 10px;
}

table td:nth-child(2) {
  width: 200px;
}

table td:nth-child(3) {
  width: 450px;
}

table td:nth-child(4) {
  width: 130px;
}

table td:nth-child(5) {
  width: 650px;
}

table td:nth-child(6) {
  width: 50px;
}

table td:nth-child(7) {
  width: 20px;
}

table td:nth-child(8) {
  width: 420px;
}



/*
table td:last-child {
  width: 150px;
}
*/
